body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom, #000000, #1e90ff);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative; 
}
.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 400px;
    margin-top: 50px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 15px;
}

label {
    color: #333;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #1e90ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #007bff;
}

#result {
    font-size: 18px;
    margin-top: 20px;
    color: #333;
}


.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: fixed; 
    bottom: 0; 
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-content p {
    font-size: 20px;
    margin-bottom: 10px;
}

.social-section {
    display: flex;
    justify-content:space-evenly ; 
    align-items: center;
    margin-top: 10px;
}

.left-section,
.right-section {
    display: flex;
    align-items: center;
}

.left-section span,
.right-section span {
    margin-right: 10px;
}

.left-section a,
.right-section a {
    color: #fff;
    margin: 0 5px;
    font-size: 18px;
}

.left-section a:hover,
.right-section a:hover {
    color: #1e90ff;
}


.fab {
    font-size: 24px;
}
.facebook-icon {
    color: #1877f2; 
}

.linkedin-icon {
    color: #0077b5; 
}